
    <!-- Navigation -->
    <%= render "layouts/navigation" %>

    <%= render "layouts/header" %>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <%= render "layouts/page_content_a" %>
    <!-- /.content-section-a -->

    <%= render "layouts/page_contents_b" %>
    <!-- /.content-section-b -->

    <%= render "layouts/page_content_c" %>
    <!-- /.content-section-a -->

	   <a  name="contact"></a>
    <%= render "layouts/banner" %>
    
    <!--Footer-->
    <%= render "layouts/footer" %>


